job "llm-dispatch" {
  datacenters = ["dc1"]

  type = "service"

  group "llm-dispatch" {
    count = 1

    network {
      port "llm-dispatch-http" {
        {{ if isDocker .Driver}}
          to = 80
        {{ end }}
      }
    }

    service {
      name = "llm-dispatch"
      port = "llm-dispatch-http"
      provider = "nomad"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.llm-dispatch-http.rule=PathPrefix(`/llm-dispatch/`)",
        "traefik.http.routers.llm-dispatch-http.priority=10"
      ]
    }

    task "backend" {
      {{ if isLocal .Driver }}
        driver = "raw_exec"
      {{ else if isDocker .Driver }}  
        driver = "docker"
      {{ end }}

      env {
          MODEL_BAZAAR_ENDPOINT = "{{ .ModelBazaarEndpoint }}"
        {{ if isDocker .Driver }}
          MODEL_BAZAAR_DIR = "/model_bazaar"
        {{ else if isLocal .Driver }}
          MODEL_BAZAAR_DIR = "{{ .ShareDir }}"
        {{ end }}
      }
      config {
        {{ if isDocker .Driver }}  
          {{ with .Driver }}
          image = "{{ .Registry }}/{{ .ImageName }}:{{ .Tag }}"
          image_pull_timeout = "15m"
          ports = ["llm-dispatch-http"]
          auth {
            username = "{{ .DockerUsername }}"
            password = "{{ .DockerPassword }}"
            server_address = "{{ .Registry }}"
          }
          {{ end }}
          command = "python3"
          args    = ["-m", "uvicorn", "main:app", "--app-dir", "llm_dispatch_job", "--host", "0.0.0.0", "--port", "80"]
        {{ else if isLocal .Driver }}
          command = "/bin/sh"
          {{ with .Driver }}
          args    = ["-c", "cd {{ .PlatformDir }} && {{ .PythonPath }} -m uvicorn main:app --app-dir llm_dispatch_job --host 0.0.0.0 --port ${NOMAD_PORT_llm_dispatch_http}"]
          {{ end }}
        {{ end }}
      }

      resources {
        cpu = 500
        memory = 1000
      }
    }
  }
}