job "GenerateData-{{ data_id }}" {
  datacenters = ["dc1"]

  type = "batch"

  group "generate-data-job" {
    count = 1

    task "server" {

      {% if platform == "docker" %}
      driver = "docker"
      {% elif platform == "local" %}
      driver = "raw_exec"
      {% endif %}

      env {
        DATA_ID = "{{ data_id }}"
        DATA_CATEGORY = "{{ data_category }}"
        LLM_PROVIDER = "{{ llm_provider }}"
        GENAI_KEY = "{{ genai_key }}"
        TASK_PROMPT = "{{ task_prompt }}"
        MODEL_BAZAAR_ENDPOINT = "{{ model_bazaar_endpoint }}"
        STORAGE_DIR = "{{ storage_dir }}"

        {%- for key, value in extra_options.items() %}
        {{ key | upper }} = "{{ value }}"
        {%- endfor %}
      }

      config {
        {% if platform == "docker" %}
        image = "{{ registry }}/{{ image_name }}:{{ tag }}"
        image_pull_timeout = "15m"
        auth {
          username = "{{ docker_username }}"
          password = "{{ docker_password }}"
          server_address = "{{ registry }}"
        }
        volumes = [
          "{{ share_dir }}:/model_bazaar"
        ]
        {% elif platform == "local" %}
          command = "/bin/sh"
          args    = ["-c", "cd {{ thirdai_platform_dir }} && {{ python_path }} -m {{ generate_script }}"]
        {% endif %}
      }

      resources {
        cpu = {{ extra_options.get('allocation_cores', 1) * 2400 }}
        memory = {{ extra_options.get('allocation_memory', '6800') }}
      }
    }
  }
}
