job "grafana" {
  datacenters = ["dc1"]
  type        = "service"

  group "grafana" {
    count = 1

    network {
      mode = "bridge"

      port "grafana-http" {
        static = 3002
        to = 3000
      }
    }

    task "grafana" {
      driver = "docker"

      env {
        GF_AUTH_ANONYMOUS_ENABLED = "true"
        GF_AUTH_BASIC_ENABLED = "false"
        GF_LOG_LEVEL          = "DEBUG"
        GF_LOG_MODE           = "console"
        GF_AUTH_ANONYMOUS_ORG_ROLE = "Admin"
        GF_AUTH_DISABLE_LOGIN_FORM = "true"
        GF_SERVER_ROOT_URL = "%(protocol)s://%(domain)s:%(http_port)s/grafana/"
        GF_SERVER_SERVE_FROM_SUB_PATH = "true"
        GF_SERVER_HTTP_PORT   = "${NOMAD_PORT_http}"
        GF_PATHS_PROVISIONING = "/local/grafana/provisioning"
      }

      config {
        image = "grafana/grafana:main-ubuntu"
        ports = ["grafana-http"]
        volumes = [
            "{{ dashboards }}:/local/dashboards",
            "{{ DATA_DIR }}:/var/lib/grafana"
          ]
      }

      service {
        name = "grafana"
        port = "grafana-http"
        provider = "nomad"
        tags = [
          "traefik.enable=true",
          "traefik.http.routers.modelbazaar-http.rule=PathPrefix(`/grafana`)",
          "traefik.http.routers.modelbazaar-http.priority=10"
        ]
      }

      resources {
        cpu    = 256
        memory = 300
      }

      template {
        data        = <<EOF
{% raw %}
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    {{ range nomadService "vicky-web" }}url: http://{{ .Address }}:{{ .Port }}{{ end }}
    editable: false
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    {{ range nomadService "loki-web" }}url: http://{{ .Address }}:{{ .Port }}{{ end }}
    version: 1
    editable: false
{% endraw %}
EOF
        destination = "/local/grafana/provisioning/datasources/datasources.yaml"
        change_mode = "noop"
      }

      template {
        data        = <<EOF
{% raw %}
apiVersion: 1
providers:
  - name: dashboards
    type: file
    disableDeletion: true
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      foldersFromFilesStructure: true
      path: /local/dashboards
{% endraw %}
EOF
        destination = "/local/grafana/provisioning/dashboards/dashboards.yaml"
        change_mode = "noop"
      }
    }
  }

}