job "llm-dispatch" {
  datacenters = ["dc1"]

  type = "service"

  group "llm-dispatch" {
    count = 1

    network {
      port "llm-dispatch-http" {
        {% if platform == "docker" %}
          to = 80
        {% endif %}
      }
    }

    service {
      name = "llm-dispatch"
      port = "llm-dispatch-http"
      provider = "nomad"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.llm-dispatch-http.rule=PathPrefix(`/llm-dispatch/`)",
        "traefik.http.routers.llm-dispatch-http.middlewares=auth-middleware",
        "traefik.http.routers.llm-dispatch-http.priority=10",
        "traefik.http.middlewares.auth-middleware.forwardauth.address={{ model_bazaar_endpoint }}/api/user/auth"
      ]
    }

    task "backend" {
      {% if platform == "local" %}
        driver = "raw_exec"
      {% elif platform == "docker" %}  
        driver = "docker"
      {% endif %}

      env {
        MODEL_BAZAAR_ENDPOINT = "{{ model_bazaar_endpoint }}"
        {% if platform == "docker" %}
        MODEL_BAZAAR_DIR = "/model_bazaar"
        {% elif platform == "local" %}
        MODEL_BAZAAR_DIR = "{{ share_dir }}"
        {% endif %}
      }
      config {
        {% if platform == "docker" %}  
          image = "{{ registry }}/{{ image_name }}:{{ tag }}"
          image_pull_timeout = "15m"
          ports = ["llm-dispatch-http"]
          auth {
            username = "{{ docker_username }}"
            password = "{{ docker_password }}"
            server_address = "{{ registry }}"
          }
          command = "python3"
          args    = ["-m", "uvicorn", "main:app", "--app-dir", "{{ app_dir }}", "--host", "0.0.0.0", "--port", "80"]
        {% elif platform == "local" %}
          command = "/bin/sh"
          args    = ["-c", "cd {{ thirdai_platform_dir }} && {{ python_path }} -m uvicorn main:app --app-dir {{ app_dir }} --host 0.0.0.0 --port ${NOMAD_PORT_llm_dispatch_http}"]
        {% endif %}
      }

      resources {
        cpu = 500
        memory = 1000
      }
    }
  }
}