job "thirdai-platform-frontend" {
  datacenters = ["dc1"]

  type = "service"

  group "thirdai-platform-frontend" {
    count = 1

    network {
      port "search-ui-http" {
        {% if platform == "docker" %}
          to = 3000
        {% elif platform == "local" %}
          static = 3000
        {% endif %}
      }
    }

    service {
      name = "search-ui"
      port = "search-ui-http"
      provider = "nomad"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.search-ui-http.rule=PathPrefix(`/`)",
        "traefik.http.routers.search-ui-http.priority=1"
      ]
    }

    task "server" {

      {% if platform == "docker" %}
        driver = "docker"
      {% elif platform == "local" %}
        driver = "raw_exec"
      {% endif %}

      env {
        NEXT_PUBLIC_DEPLOYMENT_BASE_URL = "{{ deployment_base_url }}"
        DEPLOYMENT_BASE_URL = "{{ deployment_base_url }}"
        NEXT_PUBLIC_THIRDAI_PLATFORM_BASE_URL = "{{ thirdai_platform_base_url }}"
        NEXT_PUBLIC_OPENAI_API_KEY = "{{ openai_api_key }}"
      }

      config {
        {% if platform == "docker" %}
          image = "{{ registry }}/{{ image_name }}:{{ tag }}"
          image_pull_timeout = "15m"
          ports = ["search-ui-http"]
          auth {
            username = "{{ docker_username }}"
            password = "{{ docker_password }}"
            server_address = "{{ registry }}"
          }
        {% elif platform == "local" %}
          command = "npm"
          args = ["run","start-no-env","-C","{{ app_dir }}"]
        {% endif %}
      }

      resources {
        cpu    = 500
        memory = 1000
        memory_max = 4000
      }
    }
  }
}