job "neuraldb-deployment-ui" {
  datacenters = ["dc1"]

  type = "service"

  group "neuraldb-deployment-ui" {
    count = 1

    network {
      port "search-ui-http" {
        {% if platform == "docker" %}
          to = 5000
        {% elif platform == "local" %}
          static = 3000
        {% endif %}
      }
    }

    service {
      name = "search-ui"
      port = "search-ui-http"
      provider = "nomad"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.search-ui-http.rule=PathPrefix(`/search`)",
        "traefik.http.routers.search-ui-http.priority=10"
      ]
    }

    task "server" {

      {% if platform == "docker" %}
        driver = "docker"
      {% elif platform == "local" %}
        driver = "raw_exec"
      {% endif %}

      env {
        REACT_APP_MODEL_BAZAAR_URL = "{{ public_model_bazaar_endpoint }}"
      }

      config {
        {% if platform == "docker" %}
          image = "{{ registry }}/{{ image_name }}:{{ tag }}"
          image_pull_timeout = "15m"
          ports = ["search-ui-http"]
          auth {
            username = "{{ docker_username }}"
            password = "{{ docker_password }}"
            server_address = "{{ registry }}"
          }
        {% elif platform == "local" %}
          command = "npm"
          args = ["run","start-no-env","-C","{{ app_dir }}"]
        {% endif %}
      }

      resources {
        cpu    = 500
        memory = 1000
      }
    }
  }
}