job "telemetry" {
  datacenters = ["dc1"]
  type        = "service"
  {% set telemetry_dir = "/model_bazaar/telemetry" %}
  {% set promfile = "/model_bazaar/telemetry/prometheus.yaml" %}
  {% set local_promfile = model_bazaar_path + "/telemetry/prometheus.yaml" %}
  group "telemetry" {
    count = 1

    network {
      port "vicky-http" {
        to = 8428
      }
      port "loki-http" {
        to = 3100
      }
      port "grafana-http" {
        to = 3000
      }
    }
    task "collectnodes" {
      lifecycle {
        hook = "prestart"
      }

      {% if platform == "docker" %}
        driver = "docker"
      {% elif platform == "local" %}
        driver = "raw_exec"
      {% endif %}
      env {
        NOMAD_IP = "${attr.unique.network.ip-address}"
        MANAGEMENT_TOKEN = "${MANAGEMENT_TOKEN}"
        PROMFILE = "{{ local_promfile }}"
      }
      config {
        {% if platform == "docker" %}
          image = "{{ registry }}/{{ image_name }}:{{ tag }}"
          image_pull_timeout = "15m"
          group_add = ["4646"]
          auth {
            username = "{{ docker_username }}"
            password = "{{ docker_password }}"
            server_address = "{{ registry }}"
          }
          volumes = [
            "{{ share_dir }}:/model_bazaar"
          ]
        {% elif platform == "local" %}
          command = "{{ python_path }}"
          args    = ["{{ node_discovery_script }}"]
        {% endif %}
      }

      {% if platform == "docker" %}
        template {
            destination = "${NOMAD_SECRETS_DIR}/env.vars"
            env         = true
            change_mode = "restart"
            data        = <<EOF
{% raw -%}
{{- with nomadVar "nomad/jobs" -}}
MANAGEMENT_TOKEN = {{ .management_token }}
{{- end -}}
{%- endraw %}
EOF
        }
      {% endif %}
    }
    task "victoriametrics" {
      driver = "docker"

      service {
        name     = "vicky-web"
        provider = "nomad"
        port     = "vicky-http"
      }

      config {
        image = "victoriametrics/victoria-metrics:latest"
        group_add = ["4646"]
        ports = ["vicky-http"]
        args = [
          "--storageDataPath={{ telemetry_dir }}/victoriametric",
          "--retentionPeriod=1d",
          "--httpListenAddr=:${NOMAD_PORT_vicky_http}",
          "--promscrape.config={{ promfile }}"
        ]
        {% if platform == "local" -%}
        extra_hosts = ["host.docker.internal:host-gateway"]
        {%- endif %}
        volumes = [
          "{{ share_dir }}:/model_bazaar"
        ]
      }

      resources {
        cpu    = 256
        memory = 600
      }
    }

    task "loki" {
      driver = "docker"

      config {
        image = "grafana/loki:main"
        group_add = ["4646"]
        args = [
          "-config.file",
          "${NOMAD_ALLOC_DIR}/loki.yaml",
        ]

        volumes = [
          "{{ share_dir }}:/model_bazaar"
        ]
        ports = ["loki-http"]
        
      }

      resources {
        cpu    = 500
        memory = 200
      }

      template {
        data            = <<EOF
auth_enabled: false
server:
  http_listen_port: 3100
  grpc_listen_port: 9096
common:
  instance_addr: 127.0.0.1
  path_prefix: {{ telemetry_dir }}/loki
  storage:
    filesystem:
      chunks_directory: {{ telemetry_dir }}/loki/chunks
      rules_directory: {{ telemetry_dir }}/loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
frontend:
  max_outstanding_per_tenant: 2048
pattern_ingester:
  enabled: true
limits_config:
  max_global_streams_per_user: 0
  ingestion_rate_mb: 50000
  ingestion_burst_size_mb: 50000
  volume_enabled: true
query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100
schema_config:
  configs:
    - from: 2020-10-27
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
ruler:
  alertmanager_url: http://localhost:9093
analytics:
  reporting_enabled: false
ingester:
  wal:
    flush_on_shutdown: true
EOF
        destination     = "${NOMAD_ALLOC_DIR}/loki.yaml"
      }

      service {
        name = "loki-web"
        port = "loki-http"
        provider = "nomad"
        tags = [
          "traefik.enable=true",
          "traefik.http.routers.loki-http.rule=PathPrefix(`/loki`)",
          "traefik.http.routers.loki-http.priority=10"
        ]
      }
    }

    task "grafana" {
      lifecycle {
        hook = "poststart"
        sidecar = true
      }

      driver = "docker"

      env {
        GF_AUTH_ANONYMOUS_ENABLED = "true"
        GF_AUTH_BASIC_ENABLED = "false"
        GF_LOG_LEVEL          = "DEBUG"
        GF_LOG_MODE           = "console"
        GF_AUTH_ANONYMOUS_ORG_ROLE = "Admin"
        GF_AUTH_DISABLE_LOGIN_FORM = "true"
        GF_SERVER_ROOT_URL = "%(protocol)s://%(domain)s:%(http_port)s/grafana/"
        GF_SERVER_SERVE_FROM_SUB_PATH = "true"
        GF_SERVER_HTTP_PORT   = "${NOMAD_PORT_http}"
        GF_PATHS_PROVISIONING = "/local/grafana/provisioning"
        GF_PATHS_DATA = "{{ telemetry_dir }}/grafana"
      }

      config {
        image = "grafana/grafana:main-ubuntu"
        group_add = ["4646"]
        ports = ["grafana-http"]
        volumes = [
          "{{ share_dir }}:/model_bazaar"
        ]
      }

      service {
        name = "grafana"
        port = "grafana-http"
        provider = "nomad"
        tags = [
          "traefik.enable=true",
          "traefik.http.routers.grafana-http.rule=PathPrefix(`/grafana`)",
          "traefik.http.routers.grafana-http.priority=10"
        ]
      }

      resources {
        cpu    = 256
        memory = 300
      }

      template {
        data        = <<EOF
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    {% if platform == "local" -%}
    url: http://host.docker.internal:{% raw %}{{ range nomadService "vicky-web" }}{{ .Port }}{{ end }}{% endraw %}
    {%- else -%}
    {% raw %}{{ range nomadService "vicky-web" }}url: http://{{ .Address }}:{{ .Port }}{{ end }}{% endraw %}
    {%- endif %}
    isDefault: true
    editable: false
  - name: Loki
    type: loki
    access: proxy
    {% if platform == "local" -%}
    url: http://host.docker.internal:{% raw %}{{ range nomadService "loki-web" }}{{ .Port }}{{ end }}{% endraw %}
    {%- else -%}
    {% raw %}{{ range nomadService "loki-web" }}url: http://{{ .Address }}:{{ .Port }}{{ end }}{% endraw %}
    {%- endif %}
    editable: false
EOF
        destination = "/local/grafana/provisioning/datasources/datasources.yaml"
      }

      template {
        data        = <<EOF
{% raw -%}
apiVersion: 1
providers:
  - name: dashboards
    type: file
    disableDeletion: true
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      foldersFromFilesStructure: true
      path: /model_bazaar/telemetry/telemetry_dashboards
{%- endraw %}
EOF
        destination = "/local/grafana/provisioning/dashboards/dashboards.yaml"
      }
    }
  }
}