job "thirdai-platform-frontend" {
  datacenters = ["dc1"]

  type = "service"

  group "thirdai-platform-frontend" {
    count = 1

    network {
      port "thirdai-platform-frontend-http" {
        {% if platform == "docker" %}
          to = 3000
        {% elif platform == "local" %}
          static = 3000
        {% endif %}
      }
    }

    service {
      name = "thirdai-platform-frontend"
      port = "thirdai-platform-frontend-http"
      provider = "nomad"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.thirdai-platform-frontend-http.rule=(PathPrefix(`/api/auth`) || PathPrefix(`/`))",
        "traefik.http.routers.thirdai-platform-frontend-http.priority=1"
      ]
    }

    task "server" {

      {% if platform == "docker" %}
        driver = "docker"
      {% elif platform == "local" %}
        driver = "raw_exec"
      {% endif %}

      env {
        NEXT_PUBLIC_OPENAI_API_KEY = "{{ openai_api_key }}"
        NEXT_PUBLIC_IDENTITY_PROVIDER = "{{ identity_provider }}"
        KEYCLOAK_CLIENT_ID = "thirdai-login-client"
        KEYCLOAK_CLIENT_SECRET = ""
        KEYCLOAK_ISSUER = "https://{{ keycloak_server_hostname }}/keycloak/realms/ThirdAI-Platform"
        {# AUTH_TRUST_HOST https://authjs.dev/getting-started/migrating-to-v5#environment-variables #}
        AUTH_TRUST_HOST = "true"
        NEXTAUTH_SECRET = "{{ nextauth_secret }}"

        {% if use_ssl_in_login == "true" %}
        NODE_EXTRA_CA_CERTS = "/certs/traefik.crt"
        {% endif %}
      }

      config {
        {% if platform == "docker" %}
          image = "{{ registry }}/{{ image_name }}:{{ tag }}"
          image_pull_timeout = "15m"
          ports = ["thirdai-platform-frontend-http"]
          auth {
            username = "{{ docker_username }}"
            password = "{{ docker_password }}"
            server_address = "{{ registry }}"
          }
          {% if use_ssl_in_login == "true" %}
            volumes = [
              "{{ share_dir }}/certs:/certs",
            ]
          {% endif %}
        {% endif %}
      }

      resources {
        cpu    = 500
        memory = 1500
        memory_max = 4000
      }
    }
  }
}