job "thirdai-platform-frontend" {
  datacenters = ["dc1"]

  type = "service"

  group "thirdai-platform-frontend" {
    count = 1

    network {
      port "thirdai-platform-frontend-http" {
        {% if platform == "docker" %}
          to = 3000
        {% elif platform == "local" %}
          static = 3000
        {% endif %}
      }
      port "keycloak-next-auth-http" {
        {% if platform == "docker" %}
          to = 3000
        {% elif platform == "local" %}
          static = 3000
        {% endif %}
      }
    }

    service {
      name = "thirdai-platform-frontend"
      ports = ["thirdai-platform-frontend-http", keycloak-next-auth-http]
      provider = "nomad"

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.keycloak-next-auth-http.rule=PathPrefix(`/api/auth`)",
        "traefik.http.routers.keycloak-next-auth-http.priority=20",
        "traefik.http.routers.thirdai-platform-frontend-http.rule=PathPrefix(`/`)",
        "traefik.http.routers.thirdai-platform-frontend-http.priority=1"
      ]
    }

    task "server" {

      {% if platform == "docker" %}
        driver = "docker"
      {% elif platform == "local" %}
        driver = "raw_exec"
      {% endif %}

      env {
        NEXT_PUBLIC_OPENAI_API_KEY = "{{ openai_api_key }}"
        NEXT_PUBLIC_IDENTITY_PROVIDER = "{{ identity_provider }}"
        KEYCLOAK_CLIENT_ID = "thirdai-login-client"
        KEYCLOAK_CLIENT_SECRET = ""
        KEYCLOAK_ISSUER = "https://{{ model_bazaar_public_ip }}/keycloak/realms/ThirdAI-Platform"
        # The following is URL for http application
        NEXTAUTH_URL = "http://{{ model_bazaar_public_ip }}"
        NEXTAUTH_SECRET = "random secret"
      }

      config {
        {% if platform == "docker" %}
          image = "{{ registry }}/{{ image_name }}:{{ tag }}"
          image_pull_timeout = "15m"
          ports = ["thirdai-platform-frontend-http", "keycloak-next-auth-http"]
          auth {
            username = "{{ docker_username }}"
            password = "{{ docker_password }}"
            server_address = "{{ registry }}"
          }
        {% endif %}
      }

      resources {
        cpu    = 500
        memory = 1000
        memory_max = 4000
      }
    }
  }
}