job "{{ train_job_name }}" {

  datacenters = ["dc1"]

  type = "batch"

  group "train-job" {
    count = 1

    task "server" {

      {% if platform == "docker" %}
        driver = "docker"
      {% elif platform == "local" %}
        driver = "raw_exec"
      {% endif %}

      env {
        AWS_ACCESS_KEY = "{{ aws_access_key }}"
        AWS_ACCESS_SECRET = "{{ aws_access_secret }}"
      }

      config {
        {% if platform == "docker" %}
          image = "{{ registry }}/{{ image_name }}:{{ tag }}"
          image_pull_timeout = "15m"
          auth {
            username = "{{ docker_username }}"
            password = "{{ docker_password }}"
            server_address = "{{ registry }}"
          }
          volumes = [
            "{{ share_dir }}:/model_bazaar"
          ]
          command = "python3"
          args    = ["run.py", "--config", "{{ config_path }}"]
        {% elif platform == "local" %}
          command = "/bin/sh"
          args    = ["-c", "cd {{ thirdai_platform_dir }} && {{ python_path }} {{ train_script }} --config {{ config_path }}"]
        {% endif %}
      }

      resources {
        cpu = {{ allocation_cores * 2400 }}
        memory = {{ allocation_memory }}
        memory_max = {{ allocation_memory_max }}
      }
    }
  }
}