requests<2.32.0
sqlalchemy
psycopg2-binary
msal
url-normalize
alembic
tqdm
bs4
pydantic
unidecode
boto3

# app
gunicorn
fastapi==0.109.2
fastapi[all]
uvicorn
fsspec
bcrypt
PyJWT>=2.6.0
sendgrid
ed25519
starlette
httpx
Authlib
google-auth-oauthlib
thirdai[all]
langchain_openai
hvac
nltk
