name: Check Python Formatting

# Kills old jobs from the same pr if we push a new commit
# See https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  python-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare Black
        run: |
          sudo pip3 install black
      - name: Prepare isort
        run: |
          sudo pip3 install isort
      - name: Check Black format 
        run: |
          black  --check --diff --exclude "build|.venv|venv|.env|env|deps" .
      - name: Check isort format
        run: |
          isort --diff --check --profile black --skip-glob deps --skip _deps .