name: Unit Tests

# Kills old jobs from the same pr if we push a new commit
# See https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  PRODUCT_VERSION: "latest"
  
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:
    types: [checks_requested]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  go-unit-tests:
    # runs-on: ubuntu-22.04
    runs-on: ubuntu-latest-16-cores
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
          repository: ThirdAILabs/Universe
          token: ${{ secrets.UNIVERSE_ACCESS_KEY }}
          path: ./Universe
          submodules: 'recursive'

      - name: set up go >=1.23.1
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.23.1'

      - name: build universe library
        run: |
          cd ./Universe
          bin/build.py -f THIRDAI_BUILD_LICENSE THIRDAI_CHECK_LICENSE
      
      - name: copy libraries for bindings
        run: |
          mkdir -p thirdai_platform/search/ndb/lib/linux_x64
          cp ./Universe/build/libthirdai.a thirdai_platform/search/ndb/lib/linux_x64
          cp ./Universe/build/deps/rocksdb/librocksdb.a thirdai_platform/search/ndb/lib/linux_x64
          cp ./Universe/build/deps/utf8proc/libutf8proc.a thirdai_platform/search/ndb/lib/linux_x64
          cp ./Universe/build/deps/cryptopp-cmake/cryptopp/libcryptopp.a thirdai_platform/search/ndb/lib/linux_x64

      - name: run backend unit tests
        run: |
          cd thirdai_platform && go test ./model_bazaar/tests -v

      - name: run ndb unit tests
        run: |
          cd thirdai_platform && go test ./search/ndb -v

      - name: run distributed ndb unit tests
        run: |
          cd thirdai_platform && go test ./search/dndb -v

      - name: run ndb deployment tests
        run: |
          cd thirdai_platform && go test ./deployment/tests -v

  # python-unit-tests:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2

  #   - name: Set up Python 3.11
  #     uses: actions/setup-python@v4
  #     with:
  #       python-version: '3.11'

  #   - name: install dependencies
  #     run: |
  #       pip3 install -r thirdai_platform_py/requirements.txt
  #       pip3 install pytest
  #       pip3 install httpx
  #       pip3 install pyopenssl --upgrade

  #   - name: test train job
  #     run: |
  #       cd thirdai_platform_py
  #       python3 -m pytest train_job -v

  #   - name: test recovery snapshot job
  #     run: |
  #       cd thirdai_platform_py
  #       python3 -m pytest recovery_snapshot_job -v

  #   - name: test llm dispatch job
  #     run: |
  #       cd thirdai_platform_py
  #       python3 -m pytest llm_dispatch_job -v

  #   - name: test llm cache job
  #     run: |
  #       python3 -m pytest ./thirdai_platform_py/llm_cache_job -v

  #   - name: test feedback storage
  #     run: |
  #       python3 -m pytest ./thirdai_platform_py/tests -v

  #   - name: test deployment job
  #     run: |
  #       python3 -m pytest ./thirdai_platform_py/deployment_job -v
